﻿@model MvcApplication1.Models.Correo

<h1 class="message-success"> Correo enviado satisfactoriamente</h1>
<ul>
    <li><strong>el nombre es </strong>@Html.DisplayFor(m=>m.nombre)</li>
    <li><strong>el apellido es </strong>@Html.DisplayFor(m=>m.apellidos)</li>
    <li><strong>el email es </strong>@Html.DisplayFor(m=>m.email)</li>
    <li><strong>el mensaje es</strong>@Html.DisplayFor(m=>m.mensaje)</li>
</ul>