﻿@model MvcApplication1.Models.Correo

@using (Html.BeginForm("SendMail","Emailv2" ))
{
    Html.AntiForgeryToken();
<fieldset>
    <legend>correo</legend>
  <div class="editor-label">
      @Html.LabelFor(m=>m.nombre)

  </div>
    <div class="editor-field">
        @Html.TextBoxFor(m=>m.nombre)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m=>m.apellidos)
         </div>
    <div class="editor-field">
        @Html.TextBoxFor(m=>m.apellidos)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m=>m.email)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m=>m.email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m=>m.mensaje)

    </div>
    <div class="editor-field">
        @Html.TextAreaFor(m=>m.mensaje)
    </div>
    <input type="submit" value="Enviar" />
</fieldset>
        
}

