﻿@{
    ViewBag.Title = "Enviado";
}

<h2>Enviado correctamente</h2>
<ul>
    <li>@ViewBag.nombre</li>
    <li>@ViewBag.apellidos</li>
    <li>@ViewBag.email</li>
    <li>@ViewBag.mensaje</li>
</ul>

