﻿@{
    ViewBag.Title = "Index";
}

<h2>Ejemplo de formulario con  POST</h2>
<form name="Principal" id="Princpial" method="post" action="/Email/Send">
    <label for="lblnombre">Nombre:</label>
    <input type="text" value="" name="nombre" placeholder="Nombre..." />
    <label for="lblapellidos">Apellidos:</label>
    <input type="text" value="" name="apellidos" placeholder="Apellidos..." />
    <label for="lblemail">Email: </label>
    <input type="text" value="" name="email" placeholder="Email..." />
    <label for="lblmensaje">Mensaje: </label>
    <textarea rows="3" name="mensaje" placeholder="Mensaje..."></textarea>
    <input type="submit" value="Enviar" />
</form>

