﻿@model MvcApplication1.Models.CorreoValidacion


@{
    ViewBag.Title = "Borrado";
}

<h2>Borrado</h2>

<h3>¿Esta seguro de que quiere borrar el registro?</h3>
<fieldset>
    <legend>CorreoValidacion</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model =>model.nombre )
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mensaje)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mensaje)
    </div>
</fieldset>
    <p>
        @Html.ActionLink("Delete", "Borrar", new { id = Model.ID })
        
    </p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
