﻿@model MvcApplication1.Models.CorreoValidacion

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>CorreoValidacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mensaje)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mensaje)
    </div>
</fieldset>
<div>
    @Html.ActionLink("Volver", "List")
</div>
