﻿@model MvcApplication1.Models.CorreoValidacion


<h2 class="message-success"> Correctamente Enviado</h2>
<p>sus datos son</p>
<ul>
    <li><strong>Su nombre es </strong>@Html.DisplayFor(m=>m.nombre)</li>
    <li><strong>Su apellido es </strong>@Html.DisplayFor(m=>m.apellido)</li>
    <li><strong>Su email es </strong>@Html.DisplayFor(m=>m.email)</li>
    <li><strong>Su mensaje es</strong>@Html.DisplayFor(m=>m.mensaje)</li>
</ul>