﻿@model MvcApplication1.Models.CorreoValidacion
@Literales.Literales.Saludo
@using (Html.BeginForm("SendMail","Emailv3"))
{
    @Html.ActionLink("Español","CambiarLenguaje",new {lang="es"})
@Html.ActionLink("Inglés", "CambiarLenguaje", new { lang = "en" })

    <div class="editor-label">
        @Html.LabelFor(m=>m.nombre)
    </div>
    <div class="editor-text">
        @Html.TextBoxFor(m=>m.nombre)
        @Html.ValidationMessageFor(m=>m.nombre)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m=>m.apellido)

    </div>
    <div class="editor-text">
        @Html.TextBoxFor(m=>m.apellido)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m=>m.email)
    </div>
    <div class="editor-text">
        @Html.TextBoxFor(m=>m.email)
        @Html.ValidationMessageFor(m=>m.email)
        
    </div>
    <div class="editor-label">
        @Html.LabelFor(m=>m.mensaje)
    </div>
    <div class="editor-text">
        @Html.TextAreaFor(m=>m.mensaje)
        @Html.ValidationMessageFor(m=>m.mensaje)
    </div>
    <input type="submit" value="Enviar" />
   
}

@section Scripts {
    @Scripts.Render("~/Bundles/jqueryval");
}
